.env
misc.py
download_tv_bc.py
*.jsonl
__pycache__/
.venv/
results/*
.DS_Store
*.DS_Store
*/.DS_Store

data/browse_comp_test.csv
browse_comp_test.csv

misc-testing-archive/
misc-testing-archive/*

paper/
paper/*
writing_outputs/*

data/archive/*

experiments/visuals/*

prompts/test_memory.md

results/*

CLAUDE.md
.claude
.claude/*